---
- name: Restart buildbot-worker
  ansible.builtin.systemd:
    daemon_reload: true
    name: buildbot-worker
    enabled: true
    state: restarted

- name: Initialise buildbot-worker # noqa: no-changed-when
  ansible.builtin.command: >
   "{{ buildbot_worker_path }}/env/bin/buildbot-worker create-worker --umask=0o22 {{ buildbot_worker_path }}
    {{ buildbot_worker_master_fqdn }}:{{ buildbot_worker_master_port }} {{ buildbot_worker_name }} {{ buildbot_worker_pwd }}"
  become: true
  become_user: "{{ buildbot_worker_machine_user }}"

- name: Restart podman
  ansible.builtin.systemd:
    daemon_reload: true
    name: podman
    enabled: true
    state: restarted
