# {{ ansible_managed }}
[nipapd]

user = nipap


listen = 127.0.0.1
port = 1337                     ; XML-RPC listen port (change requires restart)

foreground = false              ; run in foreground, won't work with init script
debug = false                   ; enable debug logging

syslog = true                   ; log to syslog

pid_file = /var/run/nipap/nipapd.pid


db_host = 127.0.0.1

db_port = 5432
db_name = nipap
db_user = nipap
db_pass =  {{ nipap_db_password }}
db_sslmode = require
[auth]
default_backend = local                ; which backend to use by default
auth_cache_timeout = 3600              ; seconds cached auth entries are stored

[auth.backends.local]
type = SqliteAuth

db_path = /etc/nipap/local_auth.db     ; path to SQLite database used

[www]
secret_key = {{ nipap_secret_key }}
xmlrpc_uri = http://test@local@local:test@127.0.0.1:1337
