---
- name: Install required packages
  ansible.builtin.package:
    name:
      - rsync
    state: present

- name: Create directories
  ansible.builtin.file:
    dest: "{{ item }}"
    state: directory
    mode: "0755"
    owner: caddy
    group: caddy
  loop:
    - "/data/mirror"

- name: Copy Readme
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.template }}"
    mode: "0644"
    owner: caddy
    group: caddy
  notify: Restart rsyncd
  with_items:
    - { "template": "mirror.README.md.j2", "dest": "/data/mirror/README.md" }

- name: Copy rsyncd config
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.template }}"
    mode: "0640"
    owner: root
    group: root
  notify: Restart rsyncd
  with_items:
    - { "template": "rsync.service.j2", "dest": "/lib/systemd/system/rsync.service" }
    - { "template": "rsyncd.motd.j2", "dest": "/etc/rsyncd.motd" }
    - { "template": "rsyncd.conf.j2", "dest": "/etc/rsyncd.conf" }

- name: Copy firewall config
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.template }}"
    mode: "0640"
    owner: root
    group: root
  notify: Reload iptables
  with_items:
    - { "template": "iptables_rules.v4.j2", "dest": "/etc/iptables/rules.v4" }
    - { "template": "iptables_rules.v6.j2", "dest": "/etc/iptables/rules.v6" }

- name: Set sysctls
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/99-freifunk.conf
    reload: true
    state: present
    name: "{{ item.name }}"
    value: "{{ item.value }}"
  with_items:
    - { "name": "net.ipv4.tcp_congestion_control", "value": "bbr" }
    - { "name": "net.core.default_qdisc", "value": "fq" }


- name: Copy sync script
  ansible.builtin.template:
    dest: "/data/mirrorscript.sh"
    src: "mirrorscript.sh.j2"
    mode: "0755"
    owner: root
    group: root
