---
# - name: Install required packages
#  ansible.builtin.package:
#    name:
#      - rsync
#    state: present

# - name: Create directories
#   ansible.builtin.file:
#     dest: "{{ item }}"
#     state: directory
#     mode: "0750"
#     owner: caddy
#     group: caddy
#   loop:
#     - "/data/mirror"
- name: Copy rsyncd config
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.template }}"
    mode: "0640"
    owner: root
    group: root
  notify: Restart rsyncd
  with_items:
    - { "template": "rsync.service.j2", "dest": "/lib/systemd/system/rsync.service" }
    - { "template": "rsync.conf.j2", "dest": "/etc/rsyncd.conf" }

- name: Copy firewall config
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.template }}"
    mode: "0640"
    owner: root
    group: root
  notify: Reload iptables
  with_items:
    - { "template": "iptables_rules.v4.j2", "dest": "/etc/iptables/rules.v4" }
    - { "template": "iptables_rules.v6.j2", "dest": "/etc/iptables/rules.v6" }
