[defaults]
inventory = ./inventory/hosts
collections_paths = ./collections
roles_path = ./external_roles:./roles
vault_password_file = ./.vaultpass
ansible_managed = Managed by ff-berlin ansible

forks = 10
allow_world_readable_tmpfiles=true

[ssh_connection]
pipelining = True
