[DEFAULT]
backend = systemd

[sshd]
enabled = true
port    = ssh
filter  = sshd
# ban after 3 failed tries
maxretry = 3  
# ban for 24h          
bantime = 86400   
# count tries within one hour     
findtime = 3600         
