[Unit]
Description=Initialise Buildbot-Worker in RAM-disk
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reinstall_bbworker.sh
User=bbworker
Group=bbworker
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
