# {{ ansible_managed }}

[Unit]
Description=Buildbot-worker for Freifunk-Berlin
{% if bbworker_ramdisk %}
After=buildbot-worker-setup.service network.target
Requires=buildbot-worker-setup.service
{% else %}
After=network.target
{% endif %}

[Service]
User=bbworker
Group=bbworker
WorkingDirectory={{ bbworker_path }}
ExecStart={{ bbworker_path }}/env/bin/buildbot-worker start --nodaemon

[Install]
WantedBy=multi-user.target
