8021q
br_netfilter
# Disable HP Watchdog
# https://bugzilla.kernel.org/show_bug.cgi?id=214795
# https://www.claudiokuenzler.com/blog/1125/debian-11-bullseye-boot-freeze-kernel-panic-hp-proliant-dl380
blacklist hpwdt
