---
- name: Install dependencies for falter build system and openwrt
  ansible.builtin.apt:
    name:
      - git
      - virtualenv
      - python3-venv
      - python3-pip
      - rsync
      - time
      - podman
      - dbus-x11
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Create unprivileged user for buildbot
  ansible.builtin.user:
    name: "{{ buildbot_worker_machine_user }}"

- name: Create mountpoint for ramdisk
  ansible.builtin.file:
    path: /ramdisk/
    state: directory
    mode: "0755"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  when: buildbot_worker_ramdisk

- name: Create ramdisk mount and persist
  ansible.posix.mount:
    path: /ramdisk/
    src: tmpfs
    fstype: tmpfs
    opts: size={{ buildbot_worker_ramdisk_size }}
    state: present
    boot: true
  when: buildbot_worker_ramdisk
  become: true

- name: Create buildbot_worker_path
  ansible.builtin.file:
    path: "{{ buildbot_worker_path }}"
    state: directory
    mode: "0755"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"

- name: Create path for custom podman storage config
  ansible.builtin.file:
    path: /home/{{ buildbot_worker_machine_user }}/.config/containers/
    state: directory
    mode: "0755"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  when: buildbot_worker_ramdisk

- name: Custom podman storage config
  ansible.builtin.copy:
    dest: /home/{{ buildbot_worker_machine_user }}/.config/containers/storage.conf
    mode: "0644"
    content: |
      [storage]
      driver = "overlay"
      runroot = "{{ buildbot_worker_path }}/run/user/$UID/run"
      graphroot = "{{ buildbot_worker_path }}/.local/share/containers/storage/"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  when: buildbot_worker_ramdisk
  notify: Restart podman

- name: Add buildbot-worker systemd-service-module
  ansible.builtin.template:
    dest: /etc/systemd/system/buildbot-worker.service
    src: systemd-unit.j2
    mode: "0644"
    owner: root
    group: root
  notify: Restart buildbot-worker

- name: Add buildbot-worker systemd-pre-service-module
  ansible.builtin.template:
    dest: /etc/systemd/system/buildbot-worker-setup.service
    src: systemd-pre-unit.j2
    mode: "0644"
    owner: root
    group: root
  notify: Restart buildbot-worker
  when: buildbot_worker_ramdisk

- name: Install buildbot-worker
  ansible.builtin.pip:
    name: buildbot-worker
    version: "{{ buildbot_worker_version }}"
    state: present
    virtualenv: "{{ buildbot_worker_path }}env"
  become: true
  become_user: "{{ buildbot_worker_machine_user }}"
  notify:
    - Initialise buildbot-worker
    - Restart buildbot-worker

- name: Persist ramdisk-Worker
  ansible.builtin.copy:
    dest: /usr/local/bin/reinstall_bbworker.sh
    mode: "0755"
    content: |
      #!/bin/bash
      # (re-)creates the buildbot work er on the ramdisk, everytime the system reboots.

      mkdir -p "{{ buildbot_worker_path }}"
      python3 -m venv "{{ buildbot_worker_path }}env"

      source "{{ buildbot_worker_path }}env/bin/activate"
      pip install buildbot-worker=={{ buildbot_worker_version }} \
          {{ buildbot_worker_path }}/env/bin/buildbot-worker create-worker \
          --umask=0o22 {{ buildbot_worker_path }} {{ buildbot_worker_master_fqdn }}:{{ buildbot_worker_master_port }} \
          {{ buildbot_worker_name }} {{ buildbot_worker_pwd }}

      echo "{{ buildbot_worker_contact }}" > {{ buildbot_worker_path }}/info/admin
      echo "{{ buildbot_worker_info }}" > {{ buildbot_worker_path }}/info/host

      exit 0
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  when: buildbot_worker_ramdisk

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Add worker info directory
  ansible.builtin.file:
    path: "{{ buildbot_worker_path }}info"
    state: directory
    mode: "0755"

- name: Add workers admin-info
  ansible.builtin.copy:
    content: "{{ buildbot_worker_contact }}"
    dest: "{{ buildbot_worker_path }}info/admin"
    mode: "0644"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  notify: Restart buildbot-worker

- name: Add worker description
  ansible.builtin.copy:
    content: "{{ buildbot_worker_info }}"
    dest: "{{ buildbot_worker_path }}/info/host"
    mode: "0644"
    owner: "{{ buildbot_worker_machine_user }}"
    group: "{{ buildbot_worker_machine_user }}"
  notify: Restart buildbot-worker
