#!/usr/sbin/nft -f
# Managed by ff-berlin ansible

flush ruleset

table ip nat {
        chain postrouting {
                type nat hook postrouting priority srcnat; policy accept;
                ip saddr 172.31.224.0/20 oif "{{ ansible_default_ipv4.interface }}" snat to {{ tunneldigger_snat_ip }}
        }
}
table ip filter {
        chain forward {
                type filter hook forward priority filter; policy accept;
                oifname "{{ ansible_default_ipv4.interface }}" ip daddr 10.0.0.0/8 counter packets 0 bytes 0 reject with icmp type net-prohibited
                oifname "{{ ansible_default_ipv4.interface }}" ip daddr 172.16.0.0/12 counter packets 0 bytes 0 reject with icmp type net-prohibited
                oifname "{{ ansible_default_ipv4.interface }}" ip daddr 192.168.0.0/16 counter packets 0 bytes 0 reject with icmp type net-prohibited
                oifname "{{ ansible_default_ipv4.interface }}" ip daddr 169.254.0.0/16 counter packets 0 bytes 0 reject with icmp type net-prohibited
                tcp flags syn tcp option maxseg size set rt mtu
        }
}

