---
- name: Add nipap repo
  ansible.builtin.deb822_repository:
    name: nipap
    types:
      - deb
    uris: http://spritelink.github.io/NIPAP/repos/apt
    suites: stable
    components:
      - main
      - extra
    signed_by: https://spritelink.github.io/NIPAP/nipap.gpg.key

- name: Install dependencies
  ansible.builtin.apt:
    name:
      - nipap-cli
      - nipap-common
      - nipapd
      - python3-pynipap
      - python3-psycopg2
      - python3-standard-pipes
      - postgresql-17
      - postgresql-17-ip4r
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Copy nipap config
  ansible.builtin.template:
    dest: /etc/nipap/nipap.conf
    src: nipap.conf.j2
    mode: "0640"
    owner: root
    group: root
  notify: Restart nipapd
