# www redirect
www.berlin.freifunk.net {
        redir https://berlin.freifunk.net{uri}
}

mitmachen.berlin.freifunk.net {
        redir https://berlin.freifunk.net/participate/
}

# production
berlin.freifunk.net {
        root * /home/github/www/berlin.freifunk.net
        encode gzip

        @preffere_de `header_regexp('Accept-Language', 'de') && !header_regexp('Accept-Language', 'en.*de')`

        handle_errors 404 {
                handle /de/* {
                        rewrite /de/404.html
                }
                handle /en/* {
                        rewrite /en/404.html
                }
                handle {
                        handle @preffere_de {
                                redir * /de{uri} 302
                        }
                        handle {
                                redir * /en{uri} 302
                        }
                }
                file_server
        }

        redir /index_en /en/ 301
        redir /index_en/* /en/ 301

        redir /network /de/map/ 301
        redir /network/* /de/map/ 301

        redir /contact /de/contact/ 301
        redir /contact/* /de/contact/ 301
        redir /contact_en /en/contact/ 301
        redir /contact_en/* /en/contact/ 301

        redir /download /de/downloads/ 301
        redir /download/* /de/downloads/ 301
        redir /downloads /de/downloads/ 301
        redir /downloads/* /de/downloads/ 301

        redir /participate/ /de/participate/ 301
        redir /participate/donate* /de/donate/ 301
        redir /participate/howto* /de/participate/ 301
        redir /participate/overview* /de/participate/ 301
        redir /p /de/participate/ 301

        redir /impressum /de/imprint/ 301
        redir /impressum/ /de/imprint/ 301
        redir /en/imprint /de/imprint/ 301
        redir /en/imprint/ /de/imprint/ 301

        redir /wiki /de/wiki/ 301
        redir /wiki/ /de/wiki/ 301
        redir /meshwiki /de/wiki/ 301

	redir /cgi-bin/mailman/* /de/contact/ 301

        file_server
}

# development
freifunk.dev {
        root * /home/github/www/freifunk.dev
        encode gzip

        @preffere_de `header_regexp('Accept-Language', 'de') && !header_regexp('Accept-Language', 'en.*de')`

        @generic_branch_path {
                path_regexp branch ^\/([[:alnum:]]+)(\/.*$|$)
        }
        @en_path {
                path_regexp branch ^\/([[:alnum:]]+)(\/en/.*$)
        }
        @de_path {
                path_regexp branch ^\/([[:alnum:]]+)(\/de/.*$)
        }

        handle_errors 404 {
                handle @de_path {
                        rewrite {re.branch.1}/de/404.html
                }
                handle @en_path {
                        rewrite {re.branch.1}/en/404.html
                }
                handle @generic_branch_path {
                        handle @preffere_de {
                                redir * /{re.branch.1}/de{re.branch.2} 302
                        }
                        handle {
                                redir * /{re.branch.1}/en{re.branch.2} 302
                        }
                }
                file_server
        }

        @index_en {
                path_regexp branch ^\/([[:alnum:]]+)\/index\_en
        }
        redir @index_en /{re.branch.1}/en/ 301

        @network {
                path_regexp branch ^\/([[:alnum:]]+)\/network
        }
        redir @network /{re.branch.1}/de/map/ 301

        @contact {
                path_regexp branch ^\/([[:alnum:]]+)\/contact
        }
        redir @contact /{re.branch.1}/de/contact/ 301

        @contact_en {
                path_regexp branch ^\/([[:alnum:]]+)\/contact_en
        }
        redir @contact_en /{re.branch.1}/en/contact/ 301

        @download {
                path_regexp branch ^\/([[:alnum:]]+)\/download
        }
        redir @download /{re.branch.1}/de/downloads/ 301

        @participate {
                path_regexp branch ^\/([[:alnum:]]+)\/(participate|p$)
        }
        redir @participate /{re.branch.1}/de/participate/ 301

        @imprint {
                path_regexp branch ^\/([[:alnum:]]+)\/(impressum|en\/imprint\/)
        }
        redir @imprint /{re.branch.1}/de/imprint/ 301

        @wiki {
                path_regexp branch ^\/([[:alnum:]]+)\/(meshwiki|wiki)
        }
        redir @wiki /{re.branch.1}/de/wiki/ 301

        file_server
}
