77.87.49.23:80 {
    file_server {
        browse /etc/caddy/ff_dirlisting_template.html
    }
    root * /data/mirror/
}

77.87.49.23 {
    file_server {
        browse /etc/caddy/ff_dirlisting_template.html
    }
    root * /data/mirror/
}

mirror.berlin.freifunk.net:80 {
    file_server {
        browse /etc/caddy/ff_dirlisting_template.html
    }
    root * /data/mirror/
}


mirror.berlin.freifunk.net {
    file_server {
        browse /etc/caddy/ff_dirlisting_template.html
    }
    root * /data/mirror/
}
