77.87.50.21:80 {
    file_server {
        browse
    }
    root * /data/mirror/
}

77.87.50.21 {
    file_server {
        browse
    }
    root * /data/mirror/
}

mirror.berlin.freifunk.net:80 {
    file_server {
        browse
    }
    root * /data/mirror/
}


mirror.berlin.freifunk.net {
    file_server {
        browse
    }
    root * /data/mirror/
}
