monitor.berlin.freifunk.net  {
    root * /srv/www/monitor.berlin.freifunk.net
    encode gzip zstd
    php_fastcgi unix//run/php/php-fpm.sock
    file_server

    handle_path /grafana* {
	    reverse_proxy http://127.0.0.1:8080
    }

    redir / /grafana/
    redir /host.php /cgp/host.php?{query}

}


# Pushgw 
http://10.31.130.151:9091 {
     bind 10.31.130.151
#    @delete-get {   # TODO Fix
#        return 418
#    }
#    @put-post {
        reverse_proxy http://127.0.0.1:9091
#    }
}
