{
    log nolog {
         output discard
    }
}

wiki.freifunk.net {
    encode gzip zstd

    @blocked path /mw-config/*  /tests/*  /maintenance/*  /status/*  /LocalSettings.php  /vendor/*  /languages/*  /cache/*  /includes/*  /extensions/MobileFrontend/dev-scripts/*  /extensions/MobileFrontend/tests/*

    respond @blocked 403

    root /images/* {{ ff_wiki_basedir }}/static/
    root /robots.txt {{ ff_wiki_basedir }}/static/
    root /favicon.ico {{ ff_wiki_basedir }}/static/
    root /wiki.svg {{ ff_wiki_basedir }}/static/

    root * {{ ff_wiki_basedir }}/wwwroot/

    php_fastcgi unix//var/run/php/php8.4-fpm.sock

    log {
        output file /var/log/caddy/wiki.freifunk.net-error.log
        level ERROR
    }

    file_server
}
