
wiki.freifunk.net {
    encode gzip zstd

    @blocked path /mw-config/*  /tests/*  /maintenance/*  /status/*  /LocalSettings.php  /vendor/*  /languages/*  /cache/*  /includes/*  /extensions/MobileFrontend/dev-scripts/*  /extensions/MobileFrontend/tests/*

    respond @blocked 403

    root /images/* {{ ffwiki_basedir }}/static/
    root /robots.txt {{ ffwiki_basedir }}/static/
    root /favicon.ico {{ ffwiki_basedir }}/static/
    root /wiki.svg {{ ffwiki_basedir }}/static/

    root * {{ ffwiki_basedir }}/wwwroot/

    php_fastcgi unix//var/run/php/php8.4-fpm.sock

    log {
        output file /var/log/caddy/wiki.freifunk.net-error.log
        level ERROR
    }

    file_server
}
