// Managed by Freifunk Ansible Repo

Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
};


Unattended-Upgrade::Package-Blacklist {
// Do not automatically update Postgres since it won't automatically start afterwards
    "postgresql-*";
    "libpq*";
};

