# {{ ansible_managed }}
# -*- coding: utf-8 -*-

DEBUG = False

LOG_FILE_PATH='/var/log/nipap-wizard/wizard.log'

SECRET_KEY = '{{ ff_wizard_secret }}'

SQLALCHEMY_DATABASE_URI = '{{ ff_wizard_connectionstring }}'

MAIL_FROM = 'no-reply@config.berlin.freifunk.net'

EXPERT_MAX_PREFIX = 23

API_USER = 'wizard'
API_PASS = '{{ ff_wizard_api_pass }}'
API_HOST = '127.0.0.1:1337'
API_POOL_MESH = 'Mesh IPv4'
API_POOL_HNA = 'Mesh IPv4'
API_POOL_LEGACY = 'Legacy IPv4'
API_POOL_IPV6 = [
  u'Wahlkreis 75, Mitte',
  u'Wahlkreis 76, Pankow',
  u'Wahlkreis 77, Reinickendorf',
  u'Wahlkreis 78, Spandau - Charlottenburg Nord',
  u'Wahlkreis 79, Steglitz - Zehlendorf',
  u'Wahlkreis 80, Charlottenburg - Wilmersdorf',
  u'Wahlkreis 81, Tempelhof - Schöneberg',
  u'Wahlkreis 82, Neukölln',
  u'Wahlkreis 83, Friedrichshain - Kreuzberg - Prenzlauer Berg Ost',
  u'Wahlkreis 84, Treptow - Köpenick',
  u'Wahlkreis 85, Marzahn - Hellersdorf',
  u'Wahlkreis 86, Lichtenberg'
]
