---
# tasks to be run on all machines
- name: Install basic tools
  ansible.builtin.apt:
    name: "{{ common_packages_base + common_packages_extra }}"
    state: present
    update_cache: true

- name: Configure fail2ban-jails
  ansible.builtin.template:
    src: fail2ban-ffberlin.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0640"
    owner: root
    group: root
  notify: Restart fail2ban

- name: Copy custom motd
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    mode: "0640"
    owner: root
    group: root

- name: Disallow password-based login for all users
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: PasswordAuthentication no
    insertafter: EOF
  notify: Restart sshd

- name: Disallow login for root user
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: PermitRootLogin no
    insertafter: EOF
  notify: Restart sshd

- name: Include monitoring tasks
  ansible.builtin.include_tasks: monitoring.yml

- name: Include logrotate tasks
  ansible.builtin.include_tasks: logrotate.yml

- name: Install Qemu Agent
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
    update_cache: true
  when: ansible_chassis_vendor == "QEMU"

- name: Enable fstrim timer
  ansible.builtin.systemd:
    name: "fstrim.timer"
    enabled: true

- name: Create freifunk directory
  ansible.builtin.file:
    path: /etc/freifunk
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Set Nameserver
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    mode: "0644"
    owner: root
    group: root


- name: Copy postfix config
  ansible.builtin.template:
    dest: /etc/postfix/main.cf
    src: postfix_main.cf.j2
    mode: "0640"
    owner: root
    group: root
  notify: Restart postfix
