---
- name: Restart buildbot
  ansible.builtin.systemd:
    daemon_reload: true
    name: buildbot
    enabled: true
    state: restarted

- name: Initialize buildbot
  ansible.builtin.command: /usr/local/src/buildbot/env/bin/buildbot create-master -f /usr/local/src/buildbot/masters/master
  become_user: buildbot

- name: Upgrade buildbot database
  ansible.builtin.command: /usr/local/src/buildbot/env/bin/buildbot upgrade-master /usr/local/src/buildbot/masters/master
  become_user: buildbot

- name: Restart mariadb
  ansible.builtin.systemd:
    daemon_reload: true
    name: mariadb
    enabled: true
    state: restarted

- name: Restart rsyncd
  ansible.builtin.systemd:
    daemon_reload: true
    name: rsync
    enabled: true
    state: restarted
