<?php

# Protect against web entry
if ( !defined( 'MEDIAWIKI' ) ) {
        exit;
}

# Simple anti-bot measure: set a cookie on simple (non-parameterized) GET requests ("whitelist" client), allow more complex queries only with that cookie set (should sign cookie etc., but this seems to work fine at the moment)
# if($_SERVER['REQUEST_METHOD'] === 'GET' || $_SERVER['REQUEST_METHOD'] === 'HEAD') {
#   if(count($_GET) == 0) {
#     setcookie("ffwknock", $_SERVER['REMOTE_ADDR'], time()+60*60, "/", "", true, true);
#   } else {
#     if(($_COOKIE["ffwknock"] ?? "-") != $_SERVER['REMOTE_ADDR']) {
#       if(!isset($_COOKIE["ffwiki_wiki_UserName"]) &&
#          ($_SERVER['REMOTE_ADDR'] != "172.17.0.1") &&
#          ($_SERVER['REMOTE_ADDR'] != "172.17.0.2") &&
#          ($_SERVER['REMOTE_ADDR'] != "127.0.0.1") &&
#          ($_SERVER["REQUEST_URI"] != "/api.php?hidebots=1&urlversion=1&days=7&limit=50&action=feedrecentchanges&feedformat=atom")) {
#         // file_put_contents("/tmp/blocked.txt", "" . time() . " - " . $_SERVER['REMOTE_ADDR'] . " - " . $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"] . "\n", FILE_APPEND);
#         exit("Internal error, please go to main page and try again\n");
#       }
#     }
#   }
# }

## Uncomment this to disable output compression
# $wgDisableOutputCompression = true;

$wgSitename      = "wiki.freifunk.net";
$wgMetaNamespace = "Wiki.freifunk.net";

## The URL base path to the directory containing the wiki;
## defaults for all runtime URL paths are based off of this.
## For more information on customizing the URLs please see:
## http://www.mediawiki.org/wiki/Manual:Short_URL
$wgServer           = "https://dev.wiki.freifunk.net";
$wgCanonicalServer  = 'https://dev.wiki.freifunk.net';
$wgScriptPath       = "";
$wgArticlePath      = "/$1";
$wgUsePathInfo      = true;
$wgScriptExtension  = ".php";
$wgScript           = "$wgScriptPath/index.php";
$wgRedirectScript   = "$wgScriptPath/redirect.php";
$wgUploadDirectory  = "{{ ffwiki_basedir }}/static/images";

## The relative URL path to the skins directory
$wgStylePath        = "$wgScriptPath/skins";

## The relative URL path to the logo.  Make sure you change this from the default,
## or else you'll overwrite your logo when you upgrade!
$wgLogo             = "/wiki.svg";

$wgCookieSecure = true; // cookie transmitted via https only

## UPO means: this is also a user preference option

$wgEnableEmail      = true;
$wgEnableUserEmail  = true; # UPO

$wgEmergencyContact = "noreply@wiki.freifunk.net";
$wgPasswordSender   = "noreply@wiki.freifunk.net";
$wgPasswordSenderName = "wiki.freifunk.net";
$wgUserEmailUseReplyTo = true; // it's not the 90s anymore; forging from: lines will send mails to the spam folder

$wgEnotifUserTalk      = true; # UPO
$wgEnotifWatchlist     = true; # UPO
$wgEmailAuthentication = true;

# session cookie salt
$wgAuthenticationTokenVersion = "{{ ffwiki_authtoken_salt }}".date("Y-I"); // invalidate sessions twice a year

## Database settings
$wgDBtype           = "mysql";
$wgDBserver         = "127.0.0.1";
$wgDBname           = "ffwiki";
$wgDBuser           = "ffwiki";
$wgDBpassword       = "{{ ffwiki_db_password }}";

# MySQL specific settings
$wgDBprefix         = "wiki_";

# MySQL table options to use during installation or update
$wgDBTableOptions   = "ENGINE=InnoDB, DEFAULT CHARSET=utf8";


## Shared memory settings
$wgMainCacheType = CACHE_ACCEL;
$wgMessageCacheType = CACHE_ACCEL;
$wgParserCacheType = CACHE_ACCEL;
$wgCacheDirectory = "/var/tmp/wiki.freifunk.net/caches/l10ncache";
$wgLocalisationCacheConf = array(
        'class' => 'LocalisationCache',
        'store' => 'files',
        'storeClass' => false,
        'storeDirectory' => false,
        'storeServer' => [],
        'forceRecache' => false,
        'manualRecache' => false,
);
$wgUseLocalMessageCache = true;
$wgEnableSidebarCache = true;

# We have a cronjob for this
$wgJobRunRate=0;

## To enable image uploads, make sure the 'images' directory
## is writable, then set this to true:
wfLoadExtension( 'MsUpload' );
$wgMaxUploadSize = 10*1024*1024; // 10 MBytes
$wgUploadSizeWarning = 10*1024*1024; // 10 MBytes
$wgEnableUploads  = true;
$wgUseImageMagick = true;
$wgImageMagickConvertCommand = "/usr/bin/convert";

# InstantCommons allows wiki to use images from http://commons.wikimedia.org
$wgUseInstantCommons  = true;

## If you use ImageMagick (or any other shell command) on a
## Linux server, this will need to be set to the name of an
## available UTF-8 locale
$wgShellLocale = "en_US.utf8";
$wgMaxShellMemory = 1024000;

## If you want to use image uploads under safe mode,
## create the directories images/archive, images/thumb and
## images/temp, and make them all writable. Then uncomment
## this, if it's not already uncommented:
#$wgHashedUploadDirectory = false;

## If you have the appropriate support software installed
## you can enable inline LaTeX equations:
$wgUseTeX           = false;


# Site language code, should be one of ./languages/Language(.*).php
$wgLanguageCode = "de";

$wgSecretKey = "{{ ffwiki_secret_key }}";

# Site upgrade key. Must be set to a string (default provided) to turn on the
# web installer while LocalSettings.php is in place
#$wgUpgradeKey = "a38ea489f0d79538";

## Default skin: you can change the default skin. Use the internal symbolic
## names, ie 'standard', 'nostalgia', 'cologneblue', 'monobook', 'vector':
#wfLoadSkin( 'CologneBlue' );
#wfLoadSkin( 'Modern' );
wfLoadSkin( 'MonoBook' );
wfLoadSkin( 'Vector' );
$wgDefaultSkin = 'vector';

## For attaching licensing metadata to pages, and displaying an
## appropriate copyright notice / icon. GNU Free Documentation
## License and Creative Commons licenses are supported so far.
#$wgEnableCreativeCommonsRdf = true;
$wgRightsPage = ""; # Set to the title of a wiki page that describes your license/copyright
$wgRightsUrl  = "";
$wgRightsText = "";
$wgRightsIcon = "";
# $wgRightsCode = ""; # Not yet used

# Path to the GNU diff3 utility. Used for conflict resolution.
$wgDiff3 = "/usr/bin/diff3";



# Query string length limit for ResourceLoader. You should only set this if
# your web server has a query string length limit (then set it to that limit),
# or if you have suhosin.get.max_value_length set in php.ini (then set it to
# that value)
$wgResourceLoaderMaxQueryLength = -1;


# End of automatically generated settings.
# Add more configuration options below.

# Add some more file extensions we allow uploads for
$wgFileExtensions[] = 'pdf';
$wgFileExtensions[] = 'svg';
$wgFileExtensions[] = 'odt';
$wgFileExtensions[] = 'odp';
$wgFileExtensions[] = 'eps';
$wgFileExtensions[] = 'json';

# von Fenhl am 2015-04-12 per Mail gewuenscht
$wgAllowUserCss = true;

# Extensions
wfLoadExtensions([ 'VisualEditor', 'ConfirmEdit', 'ConfirmEdit/QuestyCaptcha' ]);
$wgCaptchaClass = 'QuestyCaptcha';
$arr = array (
        //"Was steht im Logo oben links auf dieser Seite?<br/>What's written in the logo of this wiki?" => "freifunk.net",
        //'Schreib bitte das Zauberwort "Freiheit" auf:<br/>Please type the keyword "Freiheit":' => 'Freiheit',
        //'Tippe bitte die Zahl 0815 ein:<br/>Please type the number 0815 here' => '0815',
        //'Kubikwurzel aus 79507' => '43',
        //'Was steht groß auf diesem Router?<br/>Please type the word written on the Router. <br/><img src="http://wireless.subsignal.org/images/2/23/Tupper2.jpg" width=50% alt="" title="" />' => "Linksys",
        //'Welche Farbe hat der linke Kater? (in english)<br/>Which color has the left cat?  <br/><img src="//wiki.freifunk.net/images/8/8b/Cats.jpg" width=60% alt="" title="" />' => 'black',
        //'Wieviel % VOL ist da drin?<br/>How much alcohol is in there (in % Vol)? <br/><img src="//wiki.freifunk.net/images/5/5f/Vodka.jpg" width=60% alt="" title="" />' => '40',
        //'Schreib das stärkste WLAN auf:<br/>Type the strongest wifi: <br/><img src="//wiki.freifunk.net/images/thumb/3/3d/Wifi_networks.jpg/436px-Wifi_networks.jpg" width=60% alt="" title="" />' => 'weimarnetz'
        //'Welches ist die größte Stadt auf der Karte? What is the largest City on the Map? <br/><img src="//wiki.freifunk.net/images/f/fb/M%C3%BCnsterland.png" width=60% alt="" title="" />' => 'Münster',
        //'Wie viele Euro werden für neue Hardware benötigt? How much money is necessary for new hardware (in Euro) <br/><img src="//wiki.freifunk.net/images/a/a8/Freifunk-salzwedel-altmark-riebau.jpg" width=60% alt="" title="" />' => '200',
        //'Wieviel Uhr ist es <a href="//wiki.freifunk.net/Datei:Rathaus-Spandau-01.jpg">in diesem Bild</a> (Schreibweise wie "13:15")?<br/>What time is it <a href="//wiki.freifunk.net/Datei:Rathaus-Spandau-01.jpg">in this picture</a> (notation "13:15")?' => '16:45'
        'Wann ist das Vernetzungsmumble? Siehe "Events"-Kasten auf der Wiki-Startseite, kompletter Satz "am ??. ????? ??????". --- When does the "Vernetzungsmumble" take place? See box "Events" on the main page and use the complete sentence "am ??. ????? ??????"' => 'am 23. jeden Monats'
);
foreach ( $arr as $key => $value ) {
        $wgCaptchaQuestions[] = array( 'question' => $key, 'answer' => $value );
}

// Fix the default captcha behaviour
$wgGroupPermissions['*'            ]['skipcaptcha'] = false;
$wgGroupPermissions['user'         ]['skipcaptcha'] = false;
$wgGroupPermissions['autoconfirmed']['skipcaptcha'] = false;
$wgGroupPermissions['bot'          ]['skipcaptcha'] = true; // registered bots
$wgGroupPermissions['sysop'        ]['skipcaptcha'] = true;
#uncomment the following line to disable anonymous account creation
#$wgGroupPermissions['*']['createaccount'] = false;

$wgCaptchaTriggers['edit']          = false;
$wgCaptchaTriggers['create']        = false;
$wgCaptchaTriggers['createaccount'] = true;
$wgCaptchaTriggers['addurl']        = false;
$wgPFEnableStringFunctions = true;
$wgCiteEnablePopups = true;
$wgGroupPermissions['user']['writeapi'] = true; // VisualEditor

// https://www.mediawiki.org/wiki/Manual:Combating_vandalism
// https://www.mediawiki.org/wiki/Manual:Autoconfirmed_users
// https://www.mediawiki.org/wiki/Manual:$wgRateLimits

$wgAutoConfirmCount = 10; // 10 edits and...
$wgAutoConfirmAge = 86400; // ...one day until not considered "newbie" anymore
$wgRateLimits['edit']['newbie'] = array(1, 180); // one edit every 180 seconds
$wgAccountCreationThrottle = 5;

$wgGroupPermissions['*']['edit'] = false;

wfLoadExtensions(['ffwikihelpers', 'Interwiki', 'ParserFunctions', 'Cite', 'SpamBlacklist', 'Nuke', 'WikiEditor', 'PageForms', 'RSS' ]);
$wgRSSUrlWhitelist = array("https://rss.freifunk.net/*");
$wgMFAutodetectMobileView = false;
$wgGroupPermissions['bureaucrat']['renameuser'] = false;
$wgGroupPermissions['sysop']['interwiki'] = true; // To grant sysops permissions to edit interwiki data
// To enable pulling global interwikis from a central database

$wgRSSUrlWhitelist = array('*');
wfLoadExtension('SemanticMediaWiki');
enableSemantics('wiki.freifunk.net');
$smwgEnabledEditPageHelp = false;

wfLoadExtension( 'Maps' );
$egMapsDefaultService = 'leaflet';

// "Archiv:" namespace - no indexing by robots
$wgExtraNamespaces[200] = "Archiv";
$wgExtraNamespaces[201] = "Archiv_Diskussion";
$wgNamespaceRobotPolicies = array( NS_TALK => 'noindex,nofollow', 200 => 'noindex,nofollow', 201 => 'noindex,nofollow' );

/*
if (!is_string($wgSiteNotice)) $wgSiteNotice = '';
$wgSiteNotice .= '<div style="border: 2px solid #d00000; padding: 0.5em 0.5em 0.5em 0.5em; color: #000; background-color: #fff0f0; margin: 3px 3px 0;">';
$wgSiteNotice .= 'Das Wiki wurde nach einem Hack neu installiert.<br/><b>Bitte [https://wiki.freifunk.net/Spezial:ChangeCredentials ändert euer Wiki-Passwort] auf eins, das ihr nirgendwo anders benutzt.</b><br/>Falls ihr euer altes Passwort noch woanders benutzt habt, setzt es dort jeweils auch neu (auf ein anderes).';
$wgSiteNotice .= '</div>';
*/

if ( !$wgCommandLineMode ) {

if (preg_match('@\/Archiv:@', @$_SERVER['REQUEST_URI'])) {
        if (!is_string($wgSiteNotice)) $wgSiteNotice = '';
        $wgSiteNotice .= '<div style="border: 2px solid #d00000; padding: 0.5em 0.5em 0.5em 0.5em; color: #000; background-color: #ffffcb; margin: 3px 3px 0;">';
        $wgSiteNotice .= 'Die Artikel im Archiv-Namespace sind veraltet und werden nur noch aus historischen Gr&uuml;nden aufbewahrt.';
        $wgSiteNotice .= '</div>';
}

if (preg_match('@Spezial:Benutzerkonto_anlegen@', @$_SERVER['REQUEST_URI'])) {
        if (!is_string($wgSiteNotice)) $wgSiteNotice = '';
        $wgSiteNotice .= '<div style="border: 2px solid #d00000; padding: 0.5em 0.5em 0.5em 0.5em; color: #000; background-color: #ffffcb; margin: 3px 3px 0;">';
        $wgSiteNotice .= '<b>Bitte setze ein Passwort, dass Du nirgendwo anders benutzt.</b>';
        $wgSiteNotice .= '</div>';
}

//if(($_SERVER['REMOTE_ADDR'] ?? '91.65.121.157') != '91.65.121.157') $wgReadOnly = '<h1><b>Das Wiki wird zur Zeit neu installiert und kann nicht editiert werden.</b></h1>';
}

$wgUseGzip = true;

$wgUseFileCache = true;
$wgFileCacheDirectory = "/var/tmp/wiki.freifunk.net/caches/pagecache";
$wgShowIPinHeader = false;
$wgPageLanguageUseDB = true;
$wgGroupPermissions['sysop']['pagelang'] = true;


# $wgDebugLogFile="./debuglog.txt";

#$wgShowExceptionDetails = true;


$wgActions['mcrundo'] = false;
$wgActions['mcrrestore'] = false;
$wgWhitelistRead = [];
$wgWhitelistReadRegexp = [];
