---
- name: Install dependencies
  ansible.builtin.apt:
    name:
      - zstd
      - build-essential
      - pkg-config
      - git
      - mariadb-server
      - default-libmysqlclient-dev
      - python3-mysqldb
      - python3-dev
      - virtualenv
      - rsync
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Copy mariadb server config
  ansible.builtin.template:
    src: mariadb-server.cnf.j2
    dest: /etc/mysql/mariadb.conf.d/50-server.cnf
    mode: "0640"
    owner: buildbot
    group: root
  notify: Restart mariadb

- name: Create buildbot database
  community.mysql.mysql_db:
    name: buildbot
    state: present

- name: Create buildbot mariadb user
  community.mysql.mysql_user:
    name: buildbot
    password: "{{ buildbot_mariadb_user_password }}"
    priv: buildbot.*:ALL
    state: present

- name: Create buildbot user
  ansible.builtin.user:
    name: buildbot
    comment: buildbot application user
    create_home: false
    home: /usr/local/src/buildbot

- name: Create directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    owner: buildbot
    group: www-data
    mode: "0755"
    recurse: false
  with_items:
    - /usr/local/src/www/htdocs/buildbot/
    - /usr/local/src/buildbot
    - /usr/local/src/www/htdocs/.well-known/

# it looks like there is a dependency not included into buildbot[bundle]
- name: Install dependencies in venv
  ansible.builtin.pip:
    name:
      - requests
      # - txrequests # the software stated, that treq would be faster by 2.8 times or so...
      - treq
      - mysqlclient
    virtualenv: /usr/local/src/buildbot/env

- name: Install buildbot in venv
  ansible.builtin.pip:
    name: buildbot[bundle]
    version: "{{ buildbot_version }}"
    virtualenv: /usr/local/src/buildbot/env
  notify:
    - Initialize buildbot
    - Upgrade buildbot database
    - Restart buildbot

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: "Buildbot-config: copy static files"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/local/src/buildbot/masters/master/
    mode: "0640"
    owner: buildbot
    group: root
  notify: Restart buildbot
  with_items:
    - master.cfg
    - asyncbuild.py
    - notify.py
    - packages.py
    - targets.py

- name: "Buildbot-config: render config.py"
  ansible.builtin.template:
    src: config.py.j2
    dest: /usr/local/src/buildbot/masters/master/config.py
    mode: "0640"
    owner: buildbot
    group: root
  notify: Restart buildbot

- name: Add buildbot systemd-service-module
  ansible.builtin.copy:
    dest: /etc/systemd/system/buildbot.service
    mode: "0644"
    content: |
      [Unit]
      Description=Buildbot-master for Freifunk-Berlin

      [Service]
      User=buildbot
      Group=buildbot
      WorkingDirectory=/usr/local/src/buildbot/masters/master
      Environment=PATH=/usr/local/src/buildbot/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
      ExecStart=/usr/local/src/buildbot/env/bin/buildbot start --nodaemon
      ExecReload=/bin/kill -HUP $MAINPID

      [Install]
      WantedBy=multi-user.target
  notify: Restart buildbot

- name: Is firmware-selector initialised already?
  ansible.builtin.stat:
    path: /usr/local/src/www/htdocs/firmware-selector
  register: __buildbot_fw_selector

- name: Checkout firmware-selector
  ansible.builtin.git:
    repo: https://github.com/freifunk-berlin/falter-firmware-selector.git
    version: falter_stable
    dest: /usr/local/src/www/htdocs/firmware-selector
  when: not __buildbot_fw_selector.stat.exists

- name: Insert cronjob for firmware-selector
  ansible.builtin.cron:
    name: update snapshots in firmware-selector regularily.
    minute: "*/10"
    job: /usr/local/src/www/htdocs/firmware-selector/get_profiles_local.sh
    user: root
    cron_file: ansible_fwselector_update

- name: Copy signing keys
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/local/src/buildbot/masters/master/
    mode: "0700"
    owner: buildbot
    group: root
  with_items:
    - packagefeed_master.pub
    - packagefeed_master.sec

- name: Copy keys
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/local/src
    mode: "0600"
    owner: buildbot
    group: root
  with_items:
    - packagefeed_master.pub
    - packagefeed_master.sec

- name: Copy helper scripts (fw-selector)
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/local/src
    mode: "0755"
    owner: buildbot
    group: root
  with_items:
    - generate_autoupdate_json.py

- name: Insert cronjob for table-of-hardware synchronization
  ansible.builtin.cron:
    name: sync table-of-hardware
    day: "*"
    hour: 1
    minute: 0
    job: cd /usr/local/src/www/htdocs/buildbot && curl https://openwrt.org/_media/toh_dump_tab_separated.gz | gunzip > toh.tmp && mv toh.tmp
      openwrt-table-of-hardware.csv
    user: buildbot
    cron_file: sync_table_of_hardware

- name: Add rsync daemon config
  ansible.builtin.copy:
    dest: /etc/rsyncd.conf
    mode: "0644"
    content: |
      pid file = /var/run/rsyncd.pid
      log file = /var/log/rsyncd.log
      use chroot = yes
      uid = nobody
      gid = nogroup
      read only = yes
      auth users = ffmirror
      secrets file = /etc/rsyncd.secrets
      [firmware]
      path = /usr/local/src/www/htdocs/buildbot
  notify: Restart rsyncd

- name: Add rsync daemon logins
  ansible.builtin.copy:
    dest: /etc/rsyncd.secrets
    mode: "0600"
    content: |
      ffmirror:{{ buildbot_rsync_mirror_password }}
  notify: Restart rsyncd
