# -*- python -*-
# ex: set filetype=python:

dbURL = 'sqlite:///state.sqlite'

workers = [('worker-name', 'worker-password')]

githubClientID = 'CHANGE-ME'
githubClientSecret = 'CHANGE-me'

matrixAccessToken = 'CHANGE-ME'
