<?php
  $CONFIG['version'] = 5;
  # $CONFIG['socket'] = 'unix:///var/run/collectd-socket';
  $CONFIG['socket'] = 'unix:///var/run/rrdcached.sock';
  $CONFIG['flush_type'] = 'rrdcached';

  $CONFIG['graph_type'] = 'hybrid';
  # default plugins to show on host page
  $CONFIG['overview'] = array('load', 'cpu', 'memory', 'dhcpleases', 'interface', 'snmp');
  $CONFIG['network_datasize'] = 'bits';
  $CONFIG['percentile'] = 95;
  $CONFIG['showload'] = false;

  # Freifunk infrastructure
  $CONFIG['cat']['berlin.freifunk.net'] = array(
    'buildbot.berlin.freifunk.net',
    'config.berlin.freifunk.net',
    'download-master.berlin.freifunk.net',
    'monitor.berlin.freifunk.net',
    'pool.tunnel.berlin.freifunk.net',
    'tunnel-clients',
    'gw-nodes',
    'vmhost03.berlin.freifunk.net',
    'a36s-hyp01.berlin.freifunk.net',
  );
  $CONFIG['cat']['Tunnel Gateways'] = '/^vpn0|^freifunk-gw01/i';
  $CONFIG['cat']['Backbone Gateway Nodes'] = '/-gw$/i';
  $CONFIG['cat']['BBB-VPN'] = '/bbb-vpn/';

  # Locations in alphabetical order
  $CONFIG['cat']['AK36'] = '/^ak36-/';
  $CONFIG['cat']['Andreas-Gymnasium'] = '/^agym-/i';
  $CONFIG['cat']['Berliner Hochschule für Technik (BHT)'] = '/^bht/i';
  $CONFIG['cat']['Cafe Wostok'] = '/^cafe-wostok-/i';
  $CONFIG['cat']['Christoperous Kirche'] = '/^chris-/i';
  $CONFIG['cat']['Colbe15'] = '/^colbe15-/i';
  $CONFIG['cat']['Cottbuss'] = '/^cottbus/i';
  $CONFIG['cat']['Dorfplatz'] = '/^dorfplatz-/i';
  $CONFIG['cat']['Dragonkiez'] = '/^dragonkiez/i';
  $CONFIG['cat']['E16'] = '/^e16-|e16outdoor-/i';
  $CONFIG['cat']['Eberswalder7'] = '/^eberswalder7-/i';
  $CONFIG['cat']['Emmaus Kirche'] = '/^emma-/i';
  $CONFIG['cat']['Fürstenwalde'] = '/^fffw/i';
  $CONFIG['cat']['F17'] = '/^f17-/i';
  $CONFIG['cat']['Fanninger47'] = '/^fanninger47-/i';
  $CONFIG['cat']['Fesev'] = '/^fesev-/i';
  $CONFIG['cat']['Finanamt Reinickendorf'] = '/^fardf/i';
  $CONFIG['cat']['Flughafen Tempelhof'] = '/^flughafen/i';
  $CONFIG['cat']['FrischAuf'] = '/^FrischAuf-/i';
  $CONFIG['cat']['Glanz15'] = '/^glanz15-/i';
  $CONFIG['cat']['Glienicke'] = '/^glienicke/i';
  $CONFIG['cat']['Gruni73'] = '/^gruni73/i';
  $CONFIG['cat']['Gub37'] = '/^gub37-/i';
  $CONFIG['cat']['HDK'] = '/^hdk|parzelle17-/i';
  $CONFIG['cat']['Habersaath'] = '/^habersaath/i';
  $CONFIG['cat']['Halle'] = '/^halle-/i';
  $CONFIG['cat']['Haus Der Statistik'] = '/^hds|^hdm/i';
  $CONFIG['cat']['Hirschhof'] = '/^hirschhof-/i';
  $CONFIG['cat']['J41'] = '/^j41-/';
  $CONFIG['cat']['JUP'] = '/^jup-/i';
  $CONFIG['cat']['Kastanienallee'] = '/^k12|^k11/i';
  $CONFIG['cat']['Kiehlufer'] = '/^kiehlufer/i';
  $CONFIG['cat']['Kirchhof'] = '/^kirchhof-/i';
  $CONFIG['cat']['Klunkerkranich'] = '/^klunker-/i';
  $CONFIG['cat']['Kosmos'] = '/^kosmos-/i';
  $CONFIG['cat']['Kts13'] = '/^kts13-/';
  $CONFIG['cat']['Kub'] = '/^kub-/';
  $CONFIG['cat']['L105'] = '/^l105-/';
  $CONFIG['cat']['L5'] = '/^l5-/i';
  $CONFIG['cat']['Liese21'] = '/^liese-21-/i';
  $CONFIG['cat']['Linie206'] = '/^linie206/i';
  $CONFIG['cat']['MGH'] = '/^mgh-/';
  $CONFIG['cat']['Ma78'] = '/^ma78-/';
  $CONFIG['cat']['Magda'] = '/^magda/i';
  $CONFIG['cat']['Mahalle'] = '/^mahalle-/i';
  $CONFIG['cat']['Manstein10'] = '/^manstein10-/i';
  $CONFIG['cat']['Martin Luther Kirche'] = '/^mlk-nk-/';
  $CONFIG['cat']['Ohlauer'] = '/^ohlauer-/';
  $CONFIG['cat']['Philmel'] = '/^philmel/i';
  $CONFIG['cat']['Potse'] = '/^potse-/';
  $CONFIG['cat']['Q216'] = '/^q216-/';
  $CONFIG['cat']['Rathaus Kreuzberg'] = '/^rhxb-/';
  $CONFIG['cat']['Rathaus Neukoelln'] = '/^rhnk-/';
  $CONFIG['cat']['Rauchhaus'] = '/^rauchhaus/i';
  $CONFIG['cat']['Rigaer78'] = '/^rigaer78/i';
  $CONFIG['cat']['Rigaer83'] = '/^rigaer83/i';
  $CONFIG['cat']['Rio'] = '/^rio-/';
  $CONFIG['cat']['Rixbox'] = '/^rixbox/i';
  $CONFIG['cat']['Saarbruecker'] = '/^saarbruecker-/';
  $CONFIG['cat']['Sama27'] = '/^sama27-/';
  $CONFIG['cat']['Samariterkirche'] = '/^sama-/';
  $CONFIG['cat']['Scharni'] = '/^scharni/';
  $CONFIG['cat']['Scherer8'] = '/^scherer|basta/i';
  $CONFIG['cat']['Schreiner'] = '/^schreiner-/i';
  $CONFIG['cat']['Segenskirche'] = '/^segen/i';
  $CONFIG['cat']['Sgfrd'] = '/^sgfrd-/';
  $CONFIG['cat']['Simeon'] = '/^simeon/i';
  $CONFIG['cat']['Ska95'] = '/^ska95-/';
  $CONFIG['cat']['Spitta13'] = '/^spitta13-/';
  $CONFIG['cat']['St.-Adalbert Kirche'] = '/^stadalbert-/i';
  $CONFIG['cat']['Strom'] = '/^strom-/';
  $CONFIG['cat']['Technik Museum'] = '/^dtmb-/i';
  $CONFIG['cat']['Teufelsberg'] = '/^teufelsberg-/i';
  $CONFIG['cat']['Torte'] = '/^torte-/';
  $CONFIG['cat']['Vaterhaus'] = '/^vaterhaus/i';
  $CONFIG['cat']['W38B'] = '/^w38b-/i';
  $CONFIG['cat']['Weidenbaum'] = '/^weidenbaum-|funkpilz|funkigel/';
  $CONFIG['cat']['Wilde'] = '/^wilde-/';
  $CONFIG['cat']['Wilgu10'] = '/^wilgu10-/i';
  $CONFIG['cat']['Wuhlheide'] = '/^wuhli-|wuhlipunks-/i';
  $CONFIG['cat']['Xdorf'] = '/^xdorf-/i';
  $CONFIG['cat']['Yachtclub Wendenschloss'] = '/^Yachtclub_Wendenschloss/i';
  $CONFIG['cat']['Zwingli'] = '/^zwingli-/';
