<?php
  $CONFIG['version'] = 5;
#  $CONFIG['socket'] = 'unix:///var/run/collectd-socket';
$CONFIG['socket'] = 'unix:///var/run/rrdcached.sock';
$CONFIG['flush_type'] = 'rrdcached';

  $CONFIG['graph_type'] = 'hybrid';
  # default plugins to show on host page
  $CONFIG['overview'] = array('load', 'cpu', 'memory', 'dhcpleases', 'interface', 'snmp');
  $CONFIG['network_datasize'] = 'bits';
  $CONFIG['percentile'] = 95;
  $CONFIG['showload'] = false;

  $CONFIG['cat']['berlin.freifunk.net'] = array(
    'buildbot.berlin.freifunk.net',
    'config.berlin.freifunk.net',
    'download-master.berlin.freifunk.net',
    'monitor.berlin.freifunk.net',
    'pool.tunnel.berlin.freifunk.net',
    'tunnel-clients',
    'gw-nodes',
    'vmhost03.berlin.freifunk.net',
    'a36s-hyp01.berlin.freifunk.net',
  );

  $CONFIG['cat']['Tunnel Gateways'] = '/^vpn0|^freifunk-gw01/i';

  $CONFIG['cat']['Backbone Gateway Nodes'] = '/-gw$/i';

  $CONFIG['cat']['BBB-VPN'] = '/bbb-vpn/';

  $CONFIG['cat']['Rathaus Kreuzberg'] = '/^rhxb-/';

  $CONFIG['cat']['Rathaus Neukoelln'] = '/^rhnk-/';

  $CONFIG['cat']['Zwingli'] = '/^zwingli-/';

  $CONFIG['cat']['Samariterkirche'] = '/^sama-/';

  $CONFIG['cat']['Christoperous Kirche'] = '/^chris-/i';

  $CONFIG['cat']['Technik Museum'] = '/^dtmb-/i';

  $CONFIG['cat']['Emmaus Kirche'] = '/^emma-/i';

  $CONFIG['cat']['Flughafen Tempelhof'] = '/^flughafen/i';

  $CONFIG['cat']['Finanamt Reinickendorf'] = '/^fardf/i';

  $CONFIG['cat']['Philmel'] = '/^philmel/i';

  $CONFIG['cat']['Segenskirche'] = '/^segen/i';

  $CONFIG['cat']['Simeon'] = '/^simeon/i';

  $CONFIG['cat']['Martin Luther Kirche'] = '/^mlk-nk-/';

  $CONFIG['cat']['Berliner Hochschule für Technik (BHT)'] = '/^bht/i';

  $CONFIG['cat']['Vaterhaus'] = '/^vaterhaus/i';

  $CONFIG['cat']['Teufelsberg'] = '/^tberg|teufelsberg/i'; 

  $CONFIG['cat']['Rixbox'] = '/^rixbox/i';

  $CONFIG['cat']['Cottbuss'] = '/^cottbus/i';

  $CONFIG['cat']['Scherer8'] = '/^scherer|basta/i';

  $CONFIG['cat']['Scharni'] = '/^scharni/';

  $CONFIG['cat']['Habersaath'] = '/^habersaath/i';

  $CONFIG['cat']['JUP'] = '/^jup-/i';

  $CONFIG['cat']['Gruni 73'] = '/^gruni73/i';

  $CONFIG['cat']['HDK'] = '/^hdk/i';

  $CONFIG['cat']['Haus Der Statistik'] = '/^hds|^hdm/i';

  $CONFIG['cat']['Kastanienallee'] = '/^k12|^k11/i';

  $CONFIG['cat']['Kiehlufer'] = '/^kiehlufer/i';

  $CONFIG['cat']['Linie206'] = '/^linie206/i';

  $CONFIG['cat']['Magda'] = '/^magda/i';

  $CONFIG['cat']['Rauchhaus'] = '/^rauchhaus/i';

  $CONFIG['cat']['Rigaer78'] = '/^rigaer78/i';

  $CONFIG['cat']['Rigaer83'] = '/^rigaer83/i';

  $CONFIG['cat']['Schreiner'] = '/^schreiner-/i';

  $CONFIG['cat']['Glienicke'] = '/^glienicke/i';

  $CONFIG['cat']['Fürstenwalde'] = '/^fffw/i';

  $CONFIG['cat']['Dragonkiez'] = '/^dragonkiez/i';
?>
