[server]
protocol = http
http_addr = 127.0.0.1
http_port = 8080
domain = monitor.berlin.freifunk.net

enforce_domain = false

#root_url = %(protocol)s://%(domain)s:%(http_port)s/grafana/
root_url = https://monitor.berlin.freifunk.net/grafana/

serve_from_sub_path = false

router_logging = false

[analytics]
reporting_enabled = false
check_for_updates = false
[security]
disable_gravatar = true
[users]
allow_sign_up = false
[auth]
[auth.anonymous]
enabled = true
org_name = freifunk berlin
org_role = Viewer
hide_version = true

[auth.github]
{{ grafana_github_config }}

[log]
# Either "console", "file", "syslog". Default is console and  file
# Use space to separate multiple modes, e.g. "console file"
;mode = console file

# Either "debug", "info", "warn", "error", "critical", default is "info"
;level = info

# optional settings to set different levels for specific loggers. Ex filters = sqlstore:debug
;filters =

# For "console" mode only
[log.console]
;level =

# log line format, valid options are text, console and json
;format = console

# For "file" mode only
[log.file]
;level =

# log line format, valid options are text, console and json
;format = text

# This enables automated log rotate(switch of following options), default is true
;log_rotate = true

# Max line number of single file, default is 1000000
;max_lines = 1000000

# Max size shift of single file, default is 28 means 1 << 28, 256MB
;max_size_shift = 28

# Segment log daily, default is true
;daily_rotate = true

# Expired days of log file(delete after max days), default is 7
;max_days = 7

[log.syslog]
;level =

# log line format, valid options are text, console and json
;format = text

# Syslog network type and address. This can be udp, tcp, or unix. If left blank, the default unix endpoints will be used.
;network =
;address =

# Syslog facility. user, daemon and local0 through local7 are valid.
;facility =

# Syslog tag. By default, the process' argv[0] is used.
;tag =

[alerting]
enabled = false

[explore]
enabled = true

[metrics]
enabled  = true

[plugins]
allow_loading_unsigned_plugins = panodata-map-panel

[feature_toggles]
publicDashboards = true
[unified_alerting]
enabled = true
