# Managed by ff-berlin ansible
# Set the command-line arguments to pass to the server.

ARGS="--storage.tsdb.retention.size=100GB --enable-feature=memory-snapshot-on-shutdown --web.listen-address=0.0.0.0:9090"
