global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

rule_files:
  - rules.yml

scrape_configs:

  - job_name: 'firmwaremetrics'
    scrape_interval: 3600s
    scrape_timeout: 30s
    static_configs:
      - targets: ['monitor.berlin.freifunk.net']
    metrics_path: /metrics/firmware
    scheme: https

  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'pushgateway'
    scrape_interval: 30s
    scrape_timeout: 30s
    honor_labels: true
    static_configs:
      - targets: ['localhost:9091']

  - job_name: collectd
    scrape_interval: 30s
    static_configs:
      - targets: ['monitor.berlin.freifunk.net:9104']
    honor_timestamps: true

  - job_name: grafana
    static_configs:
      - targets: ['127.0.0.1:8080']

  - job_name: servers
    static_configs:
      - targets:
        - "a36s-hyp03.berlin.freifunk.net:9100"
{% for host in groups.all %}
        - "{{ host }}:9100"
{% endfor %}

  - job_name: 'weather'
    scrape_interval: 900s
    scrape_timeout: 30s
    static_configs:
      - targets: ['127.0.0.1:9111']
