---
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

# Also write to Victoriametrics
remote_write:
  - url: http://localhost:8428/api/v1/write

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

rule_files:
  - rules.yml

scrape_configs:

  - job_name: 'firmwaremetrics'
    scrape_interval: 3600s
    scrape_timeout: 30s
    static_configs:
      - targets: ['monitor.berlin.freifunk.net']
    metrics_path: /metrics/firmware/
    scheme: https

  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9090', 'localhost:9115']

  - job_name: 'pushgateway'
    scrape_interval: 30s
    scrape_timeout: 30s
    honor_labels: true
    static_configs:
      - targets: ['localhost:9091']

  - job_name: collectd
    scrape_interval: 30s
    static_configs:
      - targets: ['monitor.berlin.freifunk.net:9104']
    honor_timestamps: true

  - job_name: grafana
    static_configs:
      - targets: ['127.0.0.1:8080']

  - job_name: servers
    static_configs:
      - targets:
        - "a36s-cr1.berlin.freifunk.net:9100"
        - "a36s-cr2.berlin.freifunk.net:9100"
        - "l105-cr1.berlin.freifunk.net:9100"
{% for host in groups.all | sort %}
        - "{{ host }}:9100"
{% endfor %}

  - job_name: 'weather'
    scrape_interval: 900s
    scrape_timeout: 30s
    static_configs:
      - targets: ['127.0.0.1:9111']

  - job_name: 'blackbox-ping'
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
        # quad9
        - 9.9.9.9
        - 149.112.112.112
        - 2620:fe::fe
        - 2620:fe::9
        # cloudflare
        - 1.1.1.1
        - 1.0.0.1
        - 2606:4700:4700::1111
        - 2606:4700:4700::1001

    relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: localhost:9115


  - job_name: victoriametrics
    static_configs:
    - targets:
      - localhost:8428

  - job_name: victorialogs
    static_configs:
    - targets:
      - localhost:9428

# vim: set filetype=yaml:
