# {{ ansible_managed }}
# Set the command-line arguments to pass to the server.

ARGS="--storage.tsdb.retention.size=70GB --enable-feature=memory-snapshot-on-shutdown --web.listen-address=127.0.0.1:9090"
