#!/bin/bash

set -e
set -o pipefail

OPENWRT_MIRROR="rsync://ftp.halifax.rwth-aachen.de/openwrt/"
OPENWRT_SNAPSHOT_MIRROR="rsync://rsync.openwrt.org/downloads-snapshots/snapshots/"
OPENWRT_MIRROR_DIR="/data/mirror/downloads.openwrt.org"
LOCKFILE="/tmp/ff-mirror-daily-rsync.lock"

RSYNC_OPTIONS='--recursive --no-motd --links --times  --perms --hard-links --sparse --delay-updates --delete-delay --stats --exclude="/lastsync" --exclude="/upstream-mirror"'


# Sync snapshots separately
flock -n "$LOCKFILE" rsync $RSYNC_OPTIONS --exclude="packages/.scheduled_for_delete/" "$OPENWRT_SNAPSHOT_MIRROR" "$OPENWRT_MIRROR_DIR"/snapshots/

flock -n "$LOCKFILE" rsync $RSYNC_OPTIONS --exclude="packages/.scheduled_for_delete/" "$OPENWRT_MIRROR"/releases/25.12-SNAPSHOT/ "$OPENWRT_MIRROR_DIR"/releases/25.12-SNAPSHOT/

date +%s > "$OPENWRT_MIRROR_DIR"/snapshots/lastsync
