# Freifunk Berlin Mirror Server

This system provides a mirror of various repositories we internally use but also want to provide to the rest of the internet.

## Content

- `/downloads.openwrt.org/` - A complete mirror of the OpenWRT Download Server

## rsync
We also provide rsync access to select Services:

`rsync://mirror.berlin.freifunk.net/openwrt` for [/downloads.openwrt.org/](/downloads.openwrt.org/)


## Other Information

- [Freifunk Berlin](https://berlin.freifunk.net)
