###################################################
 mirror.berlin.freifunk.net
 Provided by Freifunk Berlin

 Contact: noc@berlin.freifunk.net

 Compression (-z) and checksums (-c) are disabled.
###################################################
