uid = nobody
gid = nogroup
use chroot = yes
read only = yes
open noatime = yes
refuse options = delete c z
syslog facility = local5
pid file = /var/run/rsyncd.pid
motd file = /etc/rsyncd.motd

[openwrt]
    path = /data/mirror/downloads.openwrt.org/
    exclude = snapshots

[openwrt-snapshots]
    path = /data/mirror/downloads.openwrt.org/
    exclude = *
    include = snapshots index.html .versions.json

[openwrt-sources]
    path = /data/mirror/sources.openwrt.org/
