################################################################
 mirror.berlin.freifunk.net
 Provided by Freifunk Berlin

 Contact: noc@berlin.freifunk.net

 The features compression (-z) and checksums (-c) are disabled.
################################################################
